html {
    font-size: 100%;
}



body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
}

main#main{
    display: grid;
    place-content: center;
    background-color: var(--clr-light-pink);
    background-image:url('./../../assets/images/background-pattern-mobile.svg');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: var(--space-large);

    @media (min-width:900px){
        background-image:url('./../../assets/images/background-pattern-desktop.svg');
        background-position: top center;
        background-size: contain 20;
        background-repeat: no-repeat;
    }
}

